{% extends 'layouts::news-detail.twig' %}

{% block mainArticle %}
    {{ parent() }}

    <p>Die Projektentwicklung besteht aus der Summe aller Untersuchungen, unternehmerischen Entscheidungen, Planungen
        und anderen bauvorbereitenden Maßnahmen, die erforderlich oder zweckmäßig sind, um eines oder mehrere
        Grundstücke zu überbauen oder eine sonstige Nutzung vorzubereiten. Dazu gehört die Absicherung der baulichen und
        sonstigen Nutzung im wirtschaftlichen Bereich. Im Bereich des Wohnungsbaus beschränkt sich die
        Projektentwicklung oftmals auf die Suche nach geeigneten Grundstücken und deren Beplanung im Rahmen des
        geltenden Baurechts.</p>

{% endblock %}
