/**
 * mixin-fonts bem module
 */

@mixin font-block-02 {
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

@mixin font-block-03 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

@mixin font-block-04 {
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

@mixin font-block-08 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

@mixin font-block-15 {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

@mixin font-block-16 {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

@mixin font-block-07 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

@mixin font-block-13 {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}

@mixin font-block-06 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

@mixin font-block-17 {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

@mixin font-block-09 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@mixin font-block-20 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

@mixin font-block-01 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@mixin font-block-05 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

@mixin font-block-12 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

@mixin font-block-10 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

@mixin font-block-11 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@mixin font-block-14 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

@mixin font-block-18 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

@mixin font-block-19 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

@mixin font-block-21 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

@mixin font-block-22 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

@mixin font-desktop-main {
    font-family: Montserrat, Arial, sans-serif;

    @include font-block-01;
}

// Title Home, Aktuelles, Kontakt, Newsdetail
@mixin font-desktop-h1 {
    @include font-block-02;
}

// Title Objekt
// Section title Home, Objekt
@mixin font-desktop-h2 {
    @include font-block-03;
}

// Title Modal
@mixin font-desktop-h3 {
    @include font-block-04;
}

// Field filter
@mixin font-desktop-form-field {
    @include font-block-05;
}

// Label filter
@mixin font-desktop-form-label {
    @include font-block-06;
}

@mixin font-desktop-form-label-filter {
    @include font-block-06;

    font-weight: 700;
}

@mixin font-desktop-form-checkbox-label {
    @include font-desktop-form-label-filter;
}

// Switch filter
@mixin font-desktop-form-checkbox-switch {
    @include font-block-06;
}

// Switch filter
@mixin font-desktop-form-radio-switch {
    @include font-block-06;
}

@mixin font-desktop-button {
    @include font-block-07;
}

@mixin font-desktop-table {
    @include font-block-06;
}

@mixin font-desktop-table-head {
    @include font-block-07;
}

@mixin font-desktop-image-tile {
    @include font-block-01;
}

@mixin font-desktop-image-tile-title {
    @include font-block-08;
}

@mixin font-desktop-image-teaser {
    @include font-block-09;
}

@mixin font-desktop-image-teaser-meta-title {
    @include font-block-10;
}

@mixin font-desktop-detail {
    @include font-block-01;
}

@mixin font-desktop-detail-title {
    @include font-block-01;

    font-weight: 700;
}

@mixin font-desktop-news-detail {
    @include font-block-11;
}

@mixin font-desktop-news-detail-title {
    @include font-desktop-h1;
}

@mixin font-desktop-news-detail-meta {
    @include font-block-11;
}

// Link back, more
@mixin font-desktop-more {
    @include font-block-12;
}

@mixin font-desktop-main-nav {
    @include font-block-13;
}

@mixin font-desktop-footer {
    @include font-block-01;
}

@mixin font-desktop-footer-nav {
    @include font-block-12;
}

@mixin font-desktop-footer-meta {
    @include font-block-01;
}

@mixin font-mobile-main {
    @include font-block-14;
}

// Title Formular
@mixin font-mobile-h1 {
    @include font-block-15;
}

// Title Kontakt, Aktuelles
@mixin font-mobile-h2 {
    @include font-block-16;
}

// Title Objekt, News
@mixin font-mobile-h3 {
    @include font-block-06;
}

@mixin font-mobile-section-title {
    @include font-block-16;
}

@mixin font-mobile-hero {
    @include font-block-17;
}

@mixin font-mobile-label {
    @include font-block-18;
}

@mixin font-mobile-label-filter {
    @include font-block-19;
}

@mixin font-mobile-field {
    @include font-block-18;
}

@mixin font-mobile-checkbox-switch {
    @include font-block-19;
}

@mixin font-mobile-checkbox-label {
    @include font-block-19;
}

@mixin font-mobile-button {
    @include font-block-19;
}

@mixin font-table {
    @include font-block-18;
}

@mixin font-table-header {
    @include font-block-19;
}

@mixin font-mobile-image-tile {
    @include font-block-11;
}

@mixin font-mobile-image-tile-title {
    @include font-block-20;
}

@mixin font-mobile-image-teaser {
    @include font-block-10;
}

@mixin font-mobile-image-teaser-meta {
    @include font-block-11;
}

@mixin font-mobile-news-detail {
    @include font-block-14;
}

@mixin font-mobile-news-detail-title {
    @include font-mobile-h3;
}

@mixin font-mobile-detail {
    @include font-block-21;
}

@mixin font-mobile-detail-title {
    @include font-block-22;
}

@mixin font-mobile-modal-title {
    @include font-block-15;
}

@mixin font-contact-mobile {
    @include font-block-01;
}

@mixin font-mobile-footer {
    @include font-block-01;
}
