/**
 * Custom properties
 */
@use 'sass:color';

:root {
    // Measures
    --content-margin: 2rem;
    --max-content-width: 142rem;
    --gutter-width: #{$gutter-width};
    --large-gutter-width: #{$gutter-width};
    --input-distance: 1.8rem;
    --check-distance: 3rem;

    // Colors
    --color-primary: #{$color-primary};
    --color-primary-text: #{$color-white};
    --color-primary-text-dark: #{$color-black};
    --color-primary-text-transparent: #{rgba($color-white, .5)};
    --color-primary-transparent: #{$color-primary-transparent};
    --color-accent: #{$color-accent};
    --color-action: #{$color-white};
    --color-action-bg: #{$color-action-bg};
    --color-action-bg-active: #{$color-action-bg-active};
    --color-input-bg: #{$color-white};
    --color-input-focus: #{rgba($color-white, .7)};
    --color-success: #{$color-success};
    --color-alert: #{$color-alert};
    --color-alert-text: #{$color-white};

    // Color settings.
    --color: #{$color-black};
    --bg-color: #{$color-white};
    --color-selection: var(--color-primary-text-dark);
    --bg-color-selection: var(--color-primary-transparent);
}
