<ul>

    {% for item in navItems %}

        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>

            {% if item.pages %}
                <div class="sub">
                    {% include '@components/navigations/navigation-footer.twig' with {'navItems': item.pages} %}
                </div>
            {% endif %}

        </li>

    {% endfor %}

</ul>
