<ul class="layout-footer__main-nav">

    {% for item in navItems %}
        {% if item.public %}

            <li><a href="{{ item.url }}"><strong>{{ item.title }}</strong></a></li>

        {% endif %}
    {% endfor %}

</ul>
