<ul>

    {% for item in navItems %}
        {% if item.public %}

            <li>
                <a href="{{ item.url }}" class="{% if url == item.url %} active{% endif %}">{{ item.title }}</a>

                {% if item.pages %}
                    <div class="sub">
                        {% include '@components/navigations/navigation-main.twig' with {'navItems': item.pages} %}
                    </div>
                {% endif %}

            </li>

        {% endif %}
    {% endfor %}

</ul>
