<ul class="{% if(wrapperClass) %}{{ wrapperClass }}{% else %}main-nav{% endif %}">

    {% for item in navItems %}
        {% if item.public %}

            <li class="main-nav__item">
                <a href="{{ item.url }}" class="main-nav__link{% if url == item.url %} main-nav__link--active{% endif %}">{{ item.title }}</a>

                {% if item.pages %}
                    <div class="sub">
                        {% include '@components/navigations/navigation-main.twig' with {
                            'navItems': item.pages,
                            'wrapperClass': 'main-nav__sub',
                        } %}
                    </div>
                {% endif %}

            </li>

        {% endif %}
    {% endfor %}

</ul>
