<form id="main-real-estate-filter" {% if applyFilter %}data-filter{% endif %}>
    <label for="estate_type">Was</label>
    <select name="filterTitle" id="filterTitle" data-filter-type="filterCallback">
        <option value="" selected>Alle Objekte</option>
        <option value="haus">Haus</option>
        <option value="wohnung">Wohnung</option>
        <option value="villa">Villa</option>
        <option value="bijou">Bijou</option>
        <option value="penthouse">Penthouse</option>
    </select>
    <label for="canton">Wo</label>
    <select name="canton" id="canton">
        <option value="" selected>Alle Orte</option>
        <option value="appenzell">Appenzell</option>
        <option value="st.gallen">St.Gallen</option>
    </select>
    <label for="sorting">Wo</label>
    <select name="sorting" id="sortBy" data-filter-type="sort">
        <option value="" selected>Auswählen</option>
        <option value="priceAsc">Preis aufsteigend</option>
        <option value="priceDesc">Preis aufsteigend</option>
        <option value="dateAsc">Datum aufsteigend</option>
        <option value="dateDesc">Datum aufsteigend</option>
    </select>
    <fieldset>
        <legend class="invisible">Filter Kaufen/Mieten</legend>
        <input type="radio" name="estate_type" id="estateTypeRent" value="zu verkaufen" checked data-filter-type="filter">
        <input type="radio" name="estate_type" id="estateTypeBuy" value="zu vermieten" data-filter-type="filter">
        <span>
            <label for="estateTypeRent">Mieten</label>
            <span></span>
            <label for="estateTypeBuy">Kaufen</label>
        </span>
    </fieldset>
    <fieldset>
        <legend>Ansicht:</legend>
        <label>
            <span class="invisible">Kachelansicht</span>
            <input type="radio" name="layout" value="layoutTile" checked data-filter-type="template">
        </label>
        <label>
            <span class="invisible">Listenansicht</span>
            <input type="radio" name="layout" value="layoutList" data-filter-type="template">
        </label>
    </fieldset>
    <button>Suchen</button>
</form>
