<form id="main-real-estate-filter" class="layout-filter-form" {% if applyFilter %}data-filter{% endif %}>
    <div class="layout-filter-form__select">
        <div>
            <label for="ref_type_id" class="filter-label">Was</label>
            <select name="ref_type_id" id="ref_type_id" data-filter-type="filter">
                <option value="" selected>Alle Objekte</option>
            </select>
        </div>
        <div>
            <label for="canton" class="filter-label">Wo</label>
            <select name="canton" id="canton" id="canton">
                <option value="" selected>Alle Orte</option>
                <option value="appenzell">Appenzell</option>
                <option value="st.gallen">St.Gallen</option>
            </select>
        </div>
        <div>
            <label for="sorting" class="filter-label">Sortierung</label>
            <select name="sorting" id="sorting" data-filter-type="sort">
                <option value="" selected>Auswählen</option>
                <option value="prizeAsc">Preis aufsteigend</option>
                <option value="prizeDesc">Preis aufsteigend</option>
                <option value="dateAsc">Datum aufsteigend</option>
                <option value="dateDesc">Datum aufsteigend</option>
            </select>
        </div>
    </div>
    <fieldset class="switch layout-filter-form__switch">
        {# Todo: Semantics call for a radio button but it would be much easier with a checkbox #}
        <legend class="invisible">Filter Kaufen/Mieten</legend>
        <input type="radio" name="estate_type" id="estateTypeRent" value="zu vermieten" class="switch__input-first" checked data-filter-type="filter">
        <label for="estateTypeRent" class="switch__label switch__label--first">Mieten</label>
        <input type="radio" name="estate_type" id="estateTypeBuy" value="zu verkaufen" class="switch__input-last" data-filter-type="filter">
        <label for="estateTypeBuy" class="switch__label switch__label--last">Kaufen</label>
        <span class="switch__box">
            {# A little hacky but just for fun. Switch between radio buttons via CSS #}
            <label class="switch__box-label switch__box-label--first" for="estateTypeRent"></label>
            <label class="switch__box-label switch__box-label--last" for="estateTypeBuy"></label>
        </span>
    </fieldset>
    <fieldset class="layout-filter-form__layout-select radio-icons">
        <legend class="radio-icons__legend">Ansicht:</legend>
        <input type="radio" name="layout" value="layoutTile" id="optionLayoutTile" checked data-filter-type="template">
        <label for="optionLayoutTile" class="radio-icons__icon">
            <span class="invisible">Kachelansicht</span><span class="icon-tiles"></span>
        </label>
        <input type="radio" name="layout" value="layoutList" id="optionLayoutList" data-filter-type="template">
        <label for="optionLayoutList" class="radio-icons__icon">
            <span class="invisible">Listenansicht</span><span class="icon-list"></span>
        </label>
    </fieldset>
    <div class="layout-filter-form__search">
        <button class="button button--submit button--w100">Suchen</button>
    </div>
</form>
