/**
 * color-scheme bem module
 */

.color-scheme {
    color: var(--color);
    background-color: var(--bg-color);

    &--hero {
        --color: #{$color-black};
        --bg-color: #{$color-white};
    }

    &--dark-on-primary {
        --color: var(--color-primary-text-dark);
        --bg-color: var(--color-primary);
        --color-selection: var(--color-primary-text-dark);
        --bg-color-selection: var(--color-primary-text-transparent);
    }
}
