/**
 * detail-modal bem module
 */

.detail-modal {
    overflow: auto;
    position: fixed;
    inset: var(--nav-bar-height, 0) 0 0;
    z-index: 110;
    padding-top: 10rem;
    background-color: var(--color-accent);

    @include media-desktop-small {
        padding-top: 10.8rem;
    }

    &__close {
        @extend .icon-cross;

        display: none;
    }

    &__title {
        @include font-mobile-modal-title;

        margin-top: 0;
        margin-bottom: 7rem;

        @include media-desktop-small {
            @include font-desktop-modal-title;
        }
    }
}
