/**
 * helper module
 */

.invisible {
    position: absolute !important;
    left: -9999em !important;
}

.text-align-center {
    text-align: center !important;
}

.text-align-right {
    text-align: right !important;
}
