/**
 * input bem module
 */

.input {
    position: relative;

    & + & {
        margin-top: var(--input-distance);
    }

    &__field,
    &__label {
        display: block;
    }

    &__field {
        @include font-desktop-form-field;

        --color-selection: var(--color-input-bg);
        --bg-color-selection: var(--color);

        display: block;
        width: 100%;
        padding: 1.1rem 1.6rem .9rem;
        border: none;
        background-color: var(--color-input-bg);
    }

    &__field::placeholder {
        color: inherit;
        transition: color $transition-in, background-color $transition-in;
    }

    &__field:focus::placeholder {
        color: rgba($color-black, .4);
        transition-duration: $transition-in-fast;
    }

    &__field:focus {
        background-color: var(--color-input-focus);
        outline: none;
    }

    &__label {
        @include font-mobile-label;

        @include media-tablet {
            @include font-desktop-form-label;
        }

        vertical-align: middle;
        margin-bottom: 1.2rem;
        cursor: pointer;
    }

    &__label--filter {
        @extend .filter-label;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 1rem;
        bottom: 2.2rem;
        width: 2rem;
        height: 1rem;
        border-width: 0 0 3px 3px;
        border-style: solid;
        border-radius: 0;
        border-color: var(--color-success);
        opacity: 0;
        transform: rotate(-45deg);
        transition:
            rght $transition-in-fast,
            bottom $transition-in-fast,
            width $transition-in-fast,
            height $transition-in-fast,
            border $transition-in-fast,
            border-radius $transition-in-fast,
            opacity $transition-in-fast,
            transform $transition-in-fast;
        pointer-events: none;
    }

    &.is-valid::after,
    &.is-invalid::after {
        opacity: 1;
    }

    &.is-invalid::after {
        right: 1.2rem;
        bottom: 1.6rem;
        width: 2rem;
        height: 2rem;
        border-width: 3px;
        border-radius: 50%;
        border-color: var(--color-alert);
        transform: rotate(0deg);
    }
}
