/**
 * link bem module
 */

.link {
    @include font-mobile-main;

    @include media-desktop-small {
        @include font-desktop-main;
    }

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: var(--color);

    &__icon {
        display: block;
        transform: translateX(0);
        transition: color $transition-in, transform $transition-in;
    }

    &__text + &__icon,
    &__icon + &__text {
        margin-left: 1.8rem;
    }

    &:hover &__icon {
        transform: translateX(-.3em);
        transition-duration: $transition-in-fast;
    }

    &:hover &__text + &__icon {
        transform: translateX(.3em);
        transition-duration: $transition-in-fast;
    }
}
