/**
 * main-footer bem module
 */

.main-footer {
    @include font-mobile-footer;

    margin-top: 5.9rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: var(--bg-color);

    @include media-desktop-small {
        @include font-mobile-footer;

        margin-top: 13.3rem;
        padding-top: 14.5rem;
        padding-bottom: 14.5rem;
    }

    [data-real-estate-detail] + & {
        margin-top: 0;
    }
}
