/****************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion      map bem module

*****************************************************************************/

/*
.map

Styleguide classes.map
*/
@use 'sass:math';

.map {
    @extend .aspect;

    margin-bottom: 3.8rem;

    @include media-desktop-small {
        margin-bottom: 4.3rem;
    }

    &::before {
        padding-top: math.percentage(math.div(244, 329));

        @include media-tablet {
            padding-top: math.percentage(math.div(9, 16));
        }

        @include media-desktop-small {
            padding-top: math.percentage(math.div(400, 1126));
        }
    }
}
