/****************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion      modal bem module

*****************************************************************************/

/*
.modal

Styleguide classes.modal
*/

.modal {
    overflow: auto;
    position: fixed;
    inset: 0;
    z-index: 110;
    background-color: var(--color-primary);

    &__inner {
        @extend .base-width;

        margin-top: 11rem;
        margin-bottom: 2.8rem;
    }

    &__close {
        @extend .icon-cross;

        position: absolute;
        top: 2.8rem;
        right: var(--content-margin);
        font-size: 3rem;
        text-indent: -9999em;
    }
}
