/**
 * modal bem module
 */

.modal {
    --color-selection: var(--color-primary-text-dark);
    --bg-color-selection: var(--color-primary-text-transparent);

    overflow: auto;
    position: fixed;
    inset: 0;
    z-index: 110;
    padding-top: 10rem;
    padding-bottom: 10.2rem;
    background-color: var(--color-primary);
    animation: modal-out $transition-slow both;

    &.open {
        animation-name: modal-in;
        animation-duration: $transition-slow;
    }

    @include media-desktop-small {
        padding-top: 10.8rem;
        padding-bottom: 17.2rem;
    }

    &__inner {
        @extend .base-width;
    }

    &__close {
        @extend .icon-cross;

        position: absolute;
        top: 2.8rem;
        right: var(--content-margin);
        font-size: 3rem;
        text-indent: -9999em;
    }

    &__title {
        @include font-mobile-modal-title;

        margin-top: 0;
        margin-bottom: 7rem;

        @include media-desktop-small {
            @include font-desktop-modal-title;
        }
    }
}

@keyframes modal-in {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes modal-out {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}
