/**
 * navigation-area bem module
 */

.navigation-area {
    display: none;
    overflow: auto;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: calc(100vh - 100%);
    background-color: white;

    &.is-open {
        display: block;
    }
}
