/**
 * pagination bem module
 */

.pagination {
    --color: var(--color-primary);

    display: flex;
    margin-top: 6.2rem;

    &__button {
        font-weight: $font-weight-bold;
    }

    &__button[disabled] {
        visibility: hidden;
        pointer-events: none;
    }

    &__button--prev .icon-chevron {
        transform: scale(-1);
    }

    &__button--next {
        margin-left: auto;
    }
}
