/**
 * page-title bem module
 */

.page-title {
    @include font-mobile-section-title;

    margin-top: calc(5rem + var(--nav-bar-height, 7.6rem));
    margin-bottom: 5rem;
    text-align: center;

    @include media-desktop-small {
        @include font-desktop-h1;

        margin-top: calc(10rem + var(--nav-bar-height, 13.2rem));
        margin-bottom: 4.8rem;
    }
}
