<div id="main-footer" class="main-footer">
    <div class="base-width layout-footer">
        <figure class="layout-footer__logo">
            <a href="./">
                <img src="/src/assets/images/_brand/logo_home_house_footer.svg" width="175" height="136" alt="Logo Home House">
            </a>
        </figure>
        <div class="layout-footer__contact">
            <p><strong>Home & House</strong> <br>
                Fabrikstrasse 24 <br>
                9472 Grabs <br>
                Schweiz</p>

            <p><a href="tel:+41817400000">081 740 00 00</a><br>
                <a href="mailto:info@homehouse.ch">info@homehouse.ch</a></p>
        </div>
        <div class="layout-footer__menu">
            {% include '@components/navigations/navigation-footer.twig' with {'navItems': pages} %}

            <ul class="layout-footer__meta-nav">
                <li><a href="/impressum.html">Impressum</a></li>
                <li><a href="/datenschutz.html">Datenschutz</a></li>
                <li><a href="mailto:info@homehouse.ch">info@homehouse.ch</a></li>
            </ul>
        </div>

        <a href="#top" data-smooth-scroll><span class="invisible">Zurück zum Seitenanfang</span></a>
    </div>
</div>
