<article>
    <header>
        <figure>
            <img src="assets/images/objekt/objekt_01.jpeg" width="1050" height="700" alt="Aussensicht Bijou am See im Grünen">
        </figure>
    </header>
    <div>
        <p>Zu verkaufen ab sofort</p>
        <p>6210 Sursee, Luzern</p>
        <h3>Bijou am See</h3>
        <dl>
            <dt>Fläche</dt>
            <dd>300m2</dd>
            <dt>Preis:</dt>
            <dd>CHF 2’800’000</dd>
        </dl>
    </div>
</article>
