{% extends 'layouts::base.twig' %}

{% block main %}

    <header class="header-hero">
        <figure class="header-hero__image">
            <img src="/src/assets/images/home/header_image.jpeg" alt="Aussenansicht Immobilie im Neubrutalstil">
        </figure>

        <div class="header-hero__block">
            <div class="header-hero__block-inner">
                <h1 class="header-hero__title">Die optimale Balance zwischen Ästhetik und Funktionalität</h1>
            </div>
        </div>
    </header>

    <main class="base-width">
        <h2>Immobilien</h2>

        <div>
            {% include '@components/forms/form-object-filter.twig' %}
        </div>
        <div class="layout-estate-listing" data-real-estates data-real-estates-filter="#main-real-estate-filter" data-real-estates-filter-layout-toggle="#main-real-estate-filter">
            {% include '@components/html-templates/estate-tile.twig' %}
            {% include '@components/html-templates/estate-table-row.twig' %}
            {% include '@components/html-templates/estate-table.twig' %}
        </div>
    </main>

{% endblock %}
