{% extends 'layouts::base.twig' %}

{% block main %}

    <main class="base-width">
        <h1 class="text-align-center">Aktuelles</h1>

        <div>

            {% if subpages %}
                {% for key, item in subpages %}
                    {% include '@components/news-item-list.twig' with item %}
                {% endfor %}
            {% endif %}

        </div>
    </main>

{% endblock %}
