{% extends 'layouts::base.twig' %}

{% block main %}

    <section>
        <h1>Aktuelles</h1>

        <hr>
        <div>

            {% if subpages %}
                {% for key, item in subpages %}
                    {% include '@components/news-item-list.twig' with item %}
                {% endfor %}
            {% endif %}

        </div>
    </section>

{% endblock %}
