{% extends 'layouts::base.twig' %}

{% block main %}

    <main class="base-width">
        <div class="layout-contact">
            <h1 class="page-title text-align-center">Kontakt</h1>

            <div class="map">
                <div data-map>
                    <script type="application/json">
                        {
                            "position": {
                                "lat": 47.1785212,
                                "lng": 9.4513039
                            },
                            "markers": [
                                {
                                    "title": "Home & House Hauptsitz",
                                    "position": {
                                        "lat": 47.1785212,
                                        "lng": 9.4513039
                                    }
                                }
                            ]
                        }
                    </script>
                </div>
            </div>

            <div class="text-container">
                <p>Home & House <br>
                    Fabrikstrasse 24 <br>
                    9472 Grabs <br>
                    Schweiz</p>

                <p><a href="tel:+41817400000">081 740 00 00</a> <br>
                    <a href="mailto:info@homehouse.ch">info@homehouse.ch</a></p>
            </div>
        </div>
    </main>

{% endblock %}
