{% extends 'layouts::object-detail.twig' %}

{% block main %}

    <section>
        <h1>alle Objekte</h1>

        <hr>
        <div>

            {% if subpages %}
                {% for key, item in subpages %}
                    {% include '@components/object-item.twig' with item %}
                {% endfor %}
            {% endif %}

        </div>
    </section>

{% endblock %}
