{% extends 'layouts::base.twig' %}
{% block main %}
    <main class="base-width">
        <h1 class="page-title">{{ title }}</h1>

        <div class="cols cols--1 cols-desktop-small--3">
            <div class="text-container">
                <h2 class="h3">Inhalt</h2>
                <p><strong>Home &amp; House</strong> <br>
                    Fabrikstrasse 24 <br>
                    9472 Grabs <br>
                    Schweiz</p>

                <p><a href="tel:+41817400000">081 740 00 00</a><br>
                    <a href="mailto:info@homehouse.ch">info@homehouse.ch</a></p>
            </div>
            <div class="text-container">
                <h2 class="h3">Konzept & Design</h2>
                <p><strong>Web Professionals</strong> <br>
                    Fabrikstrasse 24 <br>
                    9472 Grabs <br>
                    Schweiz</p>

                <p><a href="tel:+41817400000">081 740 00 00</a><br>
                    <a href="mailto:info@web-professionals.ch">info@web-professionals.ch</a></p>
            </div>
            <div class="text-container">
                <h2 class="h3">Technik</h2>
                <p><strong>Mac Signer</strong> <br>
                    Arbonerstrasse 6 <br>
                    9300 Wittenbach <br>
                    Schweiz</p>

                <p><a href="tel:+41817400000">081 740 00 00</a><br>
                    <a href="mailto:macsigner@gmx.ch">macsigner@gmx.ch</a></p>
            </div>
        </div>
    </main>
{% endblock %}
