{% extends 'layouts::object-detail.twig' %}

{% block main %}

    <section class="base-width">
        <h1>alle Objekte</h1>

        <div class="layout-estate-listing" data-real-estates>
            {% include '@components/html-templates/estate-tile.twig' %}
            {% include '@components/html-templates/estate-table-row.twig' %}
            {% include '@components/html-templates/estate-table.twig' %}
            {% include '@components/html-templates/estate-detail.twig' %}
        </div>
    </section>

{% endblock %}
