<template>
    <header>
        <h1 class="modal__title">Interesse am Objekt <br>
            <strong data-template="title">Bijou am See</strong></h1>
    </header>

    <form class="layout-object-form">
        <input type="text" name="estate_id" data-template="id" hidden>
        <div class="layout-object-form__item input">
            <label for="firstname" class="input__label">Vorname</label>
            <input type="text" id="firstname" name="firstname" class="input__field" data-validate-required required>
        </div>
        <div class="layout-object-form__item input">
            <label for="lastname" class="input__label">Nachname</label>
            <input type="text" id="lastname" name="lastname" class="input__field" required>
        </div>
        <div class="layout-object-form__item input">
            <label for="address" class="input__label">Adresse</label>
            <input type="text" id="address" name="address" class="input__field" required>
        </div>
        <div class="layout-object-form__item layout-object-form__item--group">
            <div class="layout-object-form__item layout-object-form__item--small input">
                <label for="postalcode" class="input__label">PLZ</label>
                <input type="text" id="postalcode" name="postalcode" class="input__field" required>
            </div>
            <div class="layout-object-form__item layout-object-form__item--medium input">
                <label for="city" class="input__label">Ort</label>
                <input type="text" id="city" name="city" class="input__field" required>
            </div>
        </div>
        <div class="layout-object-form__item input">
            <label for="phonenumber" class="input__label">Telefonnummer</label>
            <input type="tel" id="phonenumber" name="phonenumber" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" class="input__field" required>
        </div>
        <div class="layout-object-form__item input">
            <label for="email" class="input__label">E-Mail</label>
            <input type="email" id="email" name="email" class="input__field" required>
        </div>
        <div class="layout-object-form__item layout-object-form__item--message input">
            <label for="content" class="input__label">Ihre Nachricht</label>
            <textarea type="text" id="content" name="content" class="input__field"></textarea>
        </div>
        <div class="layout-object-form__item layout-object-form__item--checkobx">
            <input type="checkbox" id="information" name="information" value="information" class="invisible">
            <label for="information" class="check">
                <span class="check__mark"></span>
                <span class="check__label">Information</span>
            </label>
        </div>
        <div class="layout-object-form__item layout-object-form__item--checkobx">
            <input type="checkbox" id="visit" name="visit" value="visit" class="invisible">
            <label for="visit" class="check">
                <span class="check__mark"></span>
                <span class="check__label">Besichtigung</span>
            </label>
        </div>
        <div class="layout-object-form__item layout-object-form__item--submit">
            <button class="button button--submit button--modal">Senden</button>
        </div>
    </form>
</template>
