<template>
    <header>
        <h1 class="modal__title">Interesse am Objekt <br>
            <strong>Bijou am See</strong></h1>
    </header>

    <form class="layout-object-form">
        <div class="layout-object-form__item input">
            <label for="firstName" class="input__label">Vorname</label>
            <input type="text" id="firstName" class="input__field">
        </div>
        <div class="layout-object-form__item input">
            <label for="lastName" class="input__label">Nachname</label>
            <input type="text" id="lastName" class="input__field">
        </div>
        <div class="layout-object-form__item input">
            <label for="address" class="input__label">Adresse</label>
            <input type="text" id="address" class="input__field">
        </div>
        <div class="layout-object-form__item layout-object-form__item--group">
            <div class="layout-object-form__item layout-object-form__item--small input">
                <label for="zip" class="input__label">PLZ</label>
                <input type="text" id="zip" class="input__field">
            </div>
            <div class="layout-object-form__item layout-object-form__item--medium input">
                <label for="place" class="input__label">Ort</label>
                <input type="text" id="place" class="input__field">
            </div>
        </div>
        <div class="layout-object-form__item input">
            <label for="phoneNumber" class="input__label">Telefonnummer</label>
            <input type="tel" id="phoneNumber" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" class="input__field">
        </div>
        <div class="layout-object-form__item input">
            <label for="email" class="input__label">E-Mail</label>
            <input type="email" id="email" class="input__field">
        </div>
        <div class="layout-object-form__item layout-object-form__item--message input">
            <label for="message" class="input__label">Ihre Nachricht</label>
            <textarea type="text" id="message" class="input__field"></textarea>
        </div>
        <div class="layout-object-form__item layout-object-form__item--checkobx">
            <input type="checkbox" id="information" name="information" class="invisible">
            <label for="information" class="check">
                <span class="check__mark"></span>
                <span class="check__label">Information</span>
            </label>
        </div>
        <div class="layout-object-form__item layout-object-form__item--checkobx">
            <input type="checkbox" id="tour" name="tour" class="invisible">
            <label for="tour" class="check">
                <span class="check__mark"></span>
                <span class="check__label">Besichtigung</span>
            </label>
        </div>
        <div class="layout-object-form__item layout-object-form__item--submit">
            <button class="button button--submit button--modal">Senden</button>
        </div>
    </form>
</template>
