<template data-template-name="layoutList">
    <tr class="cover">
        <th><a data-template="link" class="cover__item"><span data-template="title"></span></a></th>
        <td><span data-template="zip"></span> <span data-template="city"></span>, <span data-template="country"></span></td>
        <td><span data-template="usable_area"></span> m<sup>2</sup></td>
        <td>CHF <span data-template="prize_local"></span></td>
    </tr>
</template>
