<template data-template-name="layoutTile">
    <article class="tile-teaser cover">
        <header class="tile-teaser__image">
            <img data-template="image">
        </header>
        <div>
            <p class="remove-margin-bottom"><span data-template="estate_type"></span>
                <span data-template="availability"></span></p>
            <p class="remove-margin-bottom"><span data-template="zip"></span> <span data-template="city"></span>,
                <span data-template="canton"></span></p>
            <h3 class="tile-teaser__title">
                <a data-template="link" class="cover__item"><span data-template="title"></span></a></h3>
            <p class="remove-margin-bottom">Fläche <span data-template="usable_area"></span>m<sup>2</sup>, Preis: CHF
                <span data-template="prize"></span></p>
        </div>
    </article>
</template>
