<template data-template-name="table">
    <div class="estate-table">
        <table>
            <thead>
            <th><span data-table-sort-value="title">Objekt</span>
                <button data-table-sort-value="title" class="estate-table__sort-button">
                    <span class="icon-arrow"></span>
                </button>
            </th>
            <th><span data-table-sort-value="zip">Ort</span>
                <button data-table-sort-value="zip" class="estate-table__sort-button">
                    <span class="icon-arrow"></span>
                </button>
            </th>
            <th><span data-table-sort-value="usable_area">Fläche</span>
                <button data-table-sort-value="usable_area" class="estate-table__sort-button">
                    <span class="icon-arrow"></span>
                </button>
            </th>
            <th><span data-table-sort-value="prize">Preis/Miete</span>
                <button data-table-sort-value="prize" class="estate-table__sort-button">
                    <span class="icon-arrow"></span>
                </button>
            </th>
            </thead>
            <tbody data-template="tableRows"></tbody>
        </table>
    </div>
</template>
