<template data-template-name="table">
    <div class="estate-table">
        <table>
            <thead>
            <th>Objekt</th>
            <th>Ort</th>
            <th>Fläche</th>
            <th>Preis/Miete</th>
            </thead>
            <tbody data-template="tableRows"></tbody>
        </table>
    </div>
</template>
