<template data-template-name="table">
    <thead>
        <th>Objekt</th>
        <th>Ort</th>
        <th>Fläche</th>
        <th>Preis/Miete</th>
    </thead>
    <tbody data-template="tableRows">
    <tr><td>test</td></tr>
    </tbody>
</template>
