<template data-template-name="layoutList">
    <tr>
        <th data-template="title"></th>
        <td><span data-template="zip"></span> <span data-template="city"></span>, <span data-template="country"></span></td>
        <td><span data-template="usable_area"></span> m<sup>2</sup></td>
        <td>CHF <span data-template="prize"></span></td>
    </tr>
</template>
