<!doctype html>
<html lang="de" class="no-js">
<head>

    {% block head %}
        {% include '@components/head.twig' %}
    {% endblock %}

</head>
<body id="top">

{% block body %}
    {% block mainNav %}
        {% include '@components/nav-bar.twig' %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block mainEnd %}
    {% endblock %}

    {% block mainFooter %}
        {% include '@components/main-footer.twig' %}
    {% endblock %}
{% endblock %}

</body>
</html>
