{% extends 'layouts::base.twig' %}

{% block mainHeader %}
{% endblock %}

{% block main %}

    <article class="">
        <header>
            {% if data.image %}
                {% include '@components/image.twig' with {image: data.image} %}
            {% endif %}

            <div class="base-width">
                <h1>{{ title }}</h1>
                <time datetime="{{ data.date.datetime }}">{{ data.date.locale }}</time>
            </div>
        </header>

        <div class="base-width">

            {% block mainArticle %}
                {{ data.teaser }}
            {% endblock %}

        </div>
    </article>

{% endblock %}

{% block mainEnd %}

    <a href="/aktuelles.html" class="button">Zurück</a>

{% endblock %}
