<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello World</h1>

<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rerum.</li>
    <li>Et impedit in iure magnam necessitatibus praesentium provident quam qui.</li>
    <li>Alias consectetur eius est harum, hic mollitia neque sint vero!</li>
    <li>Atque commodi eaque in ipsam labore nam rerum totam voluptates.</li>
    <li>Ab commodi consequuntur eius et illum ipsam repellendus vitae. Et!</li>
    <li>Adipisci fuga ipsam labore libero odio quibusdam quis quod sequi.</li>
    <li>Commodi, ducimus eos maxime molestias odit unde voluptatum? Eius, quis.</li>
    <li>A dolor eos nesciunt placeat qui sunt tempora. Dolore, incidunt.</li>
</ul>
</body>
</html>
