/**
 * layout-footer bem module
 */

.layout-footer {
    @include media-desktop-small {
        display: grid;
        grid-gap: 0 8.8rem;
        grid-template-columns: repeat(3, minmax(10px, 1fr));
    }

    &__contact p,
    &__main-nav,
    &__meta-nav {
        margin-bottom: 3rem;
    }

    &__logo {
        display: none;

        @include media-desktop-small {
            display: block;
        }
    }

    &__contact {
        margin-top: 1rem;
    }

    &__main-nav {
        margin-top: 1rem;
    }

    &__meta-nav {
        margin-top: 1rem;
    }
}
