/**
 * layout-estate-listing bem module
 */

.layout-estate-listing {
    padding-top: 3rem;

    @include media-tablet {
        display: grid;
        grid-gap: 0 var(--large-gutter-width);
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        padding-top: 3.4rem;
    }

    @include media-desktop-small {
        grid-template-columns: repeat(3, minmax(10px, 1fr));
    }

    &.template-layout-list {
        display: block;
        padding-top: 0;
    }

    &--newest > :nth-child(2) ~ * {
        display: none;

        @include media-desktop-small {
            display: block;
        }
    }

    [data-id] {
        animation: pop-in $transition-in both;
        animation-delay: calc(var(--item-index) * .05s);
    }
}

@keyframes pop-in {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
